#wrapper {
/*	padding-left: 60px;
	padding-right: 60px;*/
	position: relative;
	/*margin-top: 30px;*/
}

#wrapper label {
	display: block;
}

.claimant-wrap, 
.court-wrap {
	display: inline-block;	
	border-bottom: 1px dotted #c1c5cc;
	padding-bottom: 10px;
	padding-right: 10px;
}

.payment-sum-wrap {
/*	position: fixed;
	right: 30px;
	top: 40px;*/
	/*background-color: #D2EBF8;*/
	color: #000;
	margin-bottom: 30px;
	width: 70%;
	padding: 0;
	margin-top: 8px;
/*	border-radius: 3px;
	border: 1px dotted black;*/
}

.payment-sum-wrap h5 {
	padding: 0;
}

.claimant-wrap {
	margin-right: 50px;
}

.court-wrap {
	margin-right: 70px;
}

.payment-sum-wrap {
	vertical-align: top;
}

#sum-text {
	color: #0013E5;
}

.request-type-wrap {
	margin-top: 30px;
	border-bottom: 1px dotted #c1c5cc;
	padding-bottom: 20px;
	/*margin-bottom: 30px;*/
}

#wrapper #label-sum-entry {
	display: inline;
}

#span-sum-entry i,
#span-sum-entry-order i {
	color: #0013E5;
}

#claim-asset-sum,
#claim-asset-sum-order {
	width: 100px;
}

#wrapper label span {
	font-size: 14px;
}

#wrapper h2 {
	margin-bottom: 20px;
	border-bottom: 1px dotted #c1c5cc;
}

#wrapper img {
	width: 20px;
	margin-right: 10px;
	float: left;
}

#final-sum-wrap {
	font-size: 22px;
	border-bottom: 1px dotted rgb(193, 197, 204);
	padding-bottom: 10px;
}

#final-sum-wrap b {
	font-size: 22px;
}


@media screen and (max-device-width: 991px) {
	#wrapper {
/*		padding-left: 10px;
		padding-right: 10px;*/
		position: relative;
/*		margin-top: 30px;*/
	}
}

@media screen and (min-device-width: 320px) {
	 h2 {
	 	font-size: 24px;
	 	/*width: 50%;*/
	 	margin-bottom: 20px;
	 }
/*	 .payment-sum-wrap {
	 	right: 10px;
	 }
	 .payment-sum-wrap {
		 	top: 37px;
	 }*/
	 h5 b {
	 	font-size: 14px;
	 }
	 .payment-sum-wrap {
	 	padding: 0;
	 	top: 0px;
	 	right: 0px;
	 }
	 .claimant-wrap {
	 	margin-bottom: 30px;
	 }

}

@media screen and (min-device-width: 360px) {}

@media screen and (min-device-width: 768px) {}

@media screen and (min-device-width: 992px) {	
	h2 {
		font-size: 32px;
		margin-bottom: 30px;
		width: 70%;
	}
	.request-type-wrap {
		width: 70%;
	}
	.claimant-wrap {
		margin-bottom: 0;
	}
/*	 .payment-sum-wrap {
		 	top: 40px;
		 	right: 30px;
		 	padding: 10px;
	 }*/
}

@media screen and (min-device-width: 1200px) {}

@media screen and (min-device-width: 1366px) {}





















































	